.App {
  font-family: Arial, sans-serif;
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
  min-height: 48.8vw;
  text-align: center;
  padding: 0;
  margin: 0;
  background-color: #5d3386;
}
.inputContainer {
  padding-top: 2vw;
  flex: 0.1;
  min-height: 14vw;
  width: 100%;
  background-color: #5d3386;
  color: whitesmoke;
  font-weight: 600;
  font-size: 1.15vw;
}
.chartContainer {
  flex: 0.9;
  height: fit-content;
  width: 80%;
  background-color:  #5d3386;
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: flex-start;
  overflow-x: scroll;
  align-self: center;
}

td {
  padding: 10px;
  line-break: auto;
  font-weight: bold;
  font-size: 1.1vw;
}
/* Test */
#left {
  width: 20vw;
}
#testTable {
  width: 20vw;
}
#testTable td {
  width: 20vw;
}


.testT {
  margin-left: 20vw;
}

input {
  height: 2vw;
  width: 20vw;
  font-size: 1vw;
}

input:focus {
  outline-style: none;
}

#logoutBtn {
  position: absolute;
  width: 8vw;
  height: 5vh;
  right: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.2s;
  color: white;
  font-weight: 600;
  font-size: 1vw;
  border-radius: 9px;
  /* background: linear-gradient(145deg, #64378f, #542e79); */
  background-color: rgb(165, 67, 67);
  box-shadow: 7px 7px 14px #492869, -7px -7px 14px #713ea3;
}
#logoutBtn:hover {
  background-color: rgb(165, 67, 67);
  box-shadow: inset 7px 7px 14px  rgb(128, 42, 42), inset -7px -7px 14px  rgb(165, 67, 67);
}

/* #showAllBtn:hover {
  background-color:  #7757a0;
}

#showAllBtn {
  background-color:  #61418b;
} */

#logoutBtn a {
  text-decoration: none;
  color: whitesmoke;
}

/* .table-monthName {
  background-color: #67498f;
  border-right: 1px solid rgb(228, 228, 228) ;
  border-left: 2px solid rgb(228, 228, 228) ;
  border-radius: 2px;
  color: whitesmoke;

} */
#infoContainer {
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 10vw;
  height: 5vh;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  font-size: 0.85vw;
}
#userIcon {
  font-size: 1.4vw;
  margin-right: 1vw;
}
