
.App {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
  min-height: 48.8vw;
  background-color: pink;
  text-align: center;
  padding: 0;
  margin: 0;
}

.inputContainer {
  padding-top: 3vw;
  flex: 0.1;
  min-height: 14vw;
  width: 100%;
  background-color: rgb(224, 224, 224);
}

.chartContainer {
  flex: 0.9;
  height: fit-content;
  width: 100%;
  background-color: rgb(199, 175, 226);
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: flex-start;
  overflow-x: scroll;
}

.dateInput {
  width: 3vw;
  text-align: center; 
}
td {
  padding: 8px;
  line-break: auto;
}
 /* Test */
 #left {
   width: 20vw;
   background-color: pink;
 }
 #testTable {
   width: 20vw;
 }
 #testTable td {
  width: 20vw;

}
 .fixedTd {
   position: fixed;
   height: fit-content;
   width: 19vw;
   background-color: white;
 }
 .fixedTd td {
  width: 20vw;
  text-align: start;
  overflow-x: scroll;
 }

 .testT {
   margin-left: 20vw;
 }



